service vendor.vibrator-1-3 /vendor/bin/hw/android.hardware.vibrator@1.3-service.sunfish
    class hal
    user system
    group system

    setenv PROPERTY_PREFIX ro.vendor.vibrator.hal.
    setenv CALIBRATION_FILEPATH /mnt/vendor/persist/haptics/drv2624.cal

    setenv HWAPI_PATH_PREFIX /sys/class/leds/vibrator/
    setenv HWAPI_DEBUG_PATHS "
        device/autocal
        device/lp_trigger_effect
        device/ol_lra_period
        state
        "
