# b/146843700
dontaudit priv_app firmware_file:filesystem getattr;
dontaudit priv_app mnt_vendor_file:dir search;
dontaudit priv_app privapp_data_file:dir relabelfrom;

# b/146843597
dontaudit priv_app vendor_aware_available_prop:file read;
