# b/143439145
dontaudit tee self:capability sys_admin;
dontaudit tee sysfs_wake_lock:file append;

# b/146843075
dontaudit tee time_daemon:unix_stream_socket connectto;
